.centerContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.henchanText {
  position: absolute;
  margin-bottom: 650px;
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 0 2px 16px #8e054e;
  background: linear-gradient(90deg, #6b1158, #31031c, #5d1686, #650ca0, #740f9c, #341381, #440424);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: background-position 2.2s cubic-bezier(.4,2,.6,1);
  cursor: pointer;
}

.henchanText:hover {
  background-position: 100% 0;
}

@media (max-width: 1024px) {
  .henchanText {
    margin: 0 70px;
    margin-top: -600px;
  }
}
@media (max-width: 640px) {
  .henchanText {
    margin: 0 70px;
    margin-top: -550px
  }
}


.mangaGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.mangaImageContainer {
  left: 0px;
  top: 0px;
  width: 300px;
  height: 500px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);
  margin: 32px 0;
}

.mangaImage {
  border-radius: 24px;
  transition: transform 0.4s cubic-bezier(.4,2,.6,1);
}

.mangaImageContainer:hover .mangaImage {
  transform: scale(1.06);
}

@media (max-width: 1024px) {
  .mangaImageContainer {
    width: 28%;
    min-width: 200px;
    max-width: 200px;
    height: 400px;
    margin: 4px 0;
    top: 0px;
  }
}

@media (max-width: 640px) {
  .mangaImageContainer {
    width: 28%;
    min-width: 175px;
    max-width: 200px;
    height: 300px;
    margin: 4px 0;
    top: 90px;
  }
}



